#box1 {
  -moz-box-shadow: 30px -16px teal;
  -webkit-box-shadow: 30px -16px teal;
  box-shadow: 30px -16px teal;
}

#box2 {
  -moz-box-shadow: 10px 5px 5px black;
  -webkit-box-shadow: 10px 5px 5px black;
  box-shadow: 10px 5px 5px black;
}

#box3 {
  -moz-box-shadow: 3px 3px red, -1em 0 0.4em olive;
  -webkit-box-shadow: 3px 3px red, -1em 0 0.4em olive;
  box-shadow: 3px 3px red, -1em 0 0.4em olive;
}

#box4 {
  -moz-box-shadow: inset 0 0 1em gold;
  -webkit-box-shadow: inset 0 0 1em gold;
  box-shadow: inset 0 0 1em gold;
}
