#wrapper {
  margin: 0 auto;
  width: 80%;
}

#box {
  width: 100%;
  height: 150px;
  display: block;
  margin: 50px 0;
  background-color: #DDAE6B;

  -webkit-transition: all 0.5s linear;

}

@media only screen and (max-width: 1024px) {
  #box {
    background-color: blue;
  }
}

@media only screen and (max-width: 768px) {
  #box {
    background-color: green;
  }
}

@media only screen and (max-width: 600px) {
  #box {
    background-color: red;
  }
}
